extends ../../base

append head-files
    include includes/css

prepend config
  - var stationsPage = true;

append content
    section.content
        .container-fluid
            h5 ID stacji:
                span.ml-1= station.id
            h5 Numer stacji:
                span.ml-1= station.number
            if station.uniqueName
                h5 Nazwa stacji:
                    span.ml-1= station.uniqueName
            if station.measurements.length === 0
              h5.text-danger Brak pomiarów do wyświetlenia.
            else
                h5 Liczba serii pomiarowych:
                    span.ml-1= [...new Set(station.measurements.map(item => item.series))].length
                h5 Liczba pomiarów:
                    span.ml-1= station.measurements.length
                .row
                    .col.card.bg-light
                        .card-body
                            #table-wrapper
                                table.table.table-bordered.table-striped.table-head-fixed.text-center.text-nowrap

append body-files
    script(src='/js/moment-with-locales.js')
    script(src='/js/jquery.dataTables.min.js')
    script(src='/js/dataTables.bootstrap4.min.js')
    script(src='/js/dataTables.buttons.min.js')
    script(src='/js/buttons.bootstrap4.min.js')
    script(src='/js/jszip.min.js')
    script(src='/js/pdfmake.min.js')
    script(src='/js/vfs_fonts.js')
    script(src='/js/buttons.html5.min.js')
    script(src='/js/buttons.print.min.js')
    script(src='/js/buttons.colVis.min.js')
    script(src='/js/dataTables.fixedColumns.min.js')
    script(src='/js/dataTables.responsive.min.js')
    script(src='/js/responsive.bootstrap4.min.js')
    script(src='/js/dataTables.searchBuilder.min.js')
    script(src='/js/searchBuilder.bootstrap4.min.js')
    script(src='/js/dataTables.select.min.js')
    script(src='/js/dataTables.dateTime.min.js')
    script(src='/js/datetime-moment.js')
    script(src='/js/jquery.serializejson.js')
    script.
      $(document).ready(function() {
        $.fn.dataTable.moment('DD.MM.YYYY');
        $.fn.dataTable.moment('HH:mm:ss');

        const options = {
          dom: 'QBlfrtip',
          language: {
            url: '/js/pl.json',
            buttons: {
              selectAll: "Zaznacz wszystkie",
              selectNone: "Odznacz wszystkie"
            }
          },
          select: {
            style: 'multi'
          },
          scrollX: true,
          scroller: true,
          aLengthMenu: [
            [10, 25, 50, 100, 200, 500, -1],
            [10, 25, 50, 100, 200, 500, '∞'],
          ],
          fixedColumns: { left: 1 },
          fixedHeader: true,
          buttons: [
            'selectAll',
            'selectNone',
            {
              extend: 'copy',
              exportOptions: {
                columns: ':not(:first-child)'
              }
            },
            {
              extend: 'csv',
              charset: 'utf-8',
              exportOptions: {
                columns: ':not(:first-child)',
                format: {
                  header: (data, row, column) => {
                    return $(column).attr('aria-label').split(':')[0];
                  }
                }
              }
            },
            {
              extend: 'print',
              exportOptions: {
                columns: ':not(:first-child)'
              }
            },
            'colvis',
            {
              text: 'Usuń zaznaczone',
              action: () => {
                const selectedRows = table.rows({ selected: true });
                const rows = selectedRows.nodes();
                const count = selectedRows.count();
                const data = selectedRows.data();
                if (count > 0) {
                  if (confirm(`Czy na pewno usunąć ${count} pomiarów? \r\nSpowoduje to odświeżenie strony i usunięcie fitrów!`)) {
                    for (let i = 0; i < count; i++) {
                      $.ajax({
                        type: 'DELETE',
                        url: `/powietrze/api/measurements/${data[i].id}`
                      })
                    }
                    window.location.href = '/powietrze/measurements';
                  }
                }
              }
            }]
        };

        let data = JSON.parse('!{JSON.stringify(station.measurements)}');

        for (let d of data) {
          d.isoDate = d.date;
          d.date = new Date(d.isoDate).toLocaleDateString();
          d.time = new Date(d.isoDate).toLocaleTimeString();
          d.pump = (d.pump === true) ? 'tak' : 'nie';
        }

        const table = $('table').DataTable({
          data,
          columns: [
            {
              data: 'id',
              title: 'Akcja',
              render: () =>
                '<button class="btn btm-sm btn-outline-warning">Edytuj</button>'
            },
            { data: 'id', title: 'ID', ariaTitle: 'id' },
            { data: 'series', title: 'Seria', ariaTitle: 'series' },
            { data: 'number', title: 'Numer', ariaTitle: 'number' },
            { data: 'isoDate', title: 'Data ISO 8601', visible: true, ariaTitle: 'isoDate' },
            { data: 'date', title: 'Data', ariaTitle: 'date' },
            { data: 'time', title: 'Czas', ariaTitle: 'time' },
            { data: 'latitude', title: 'Szerokość geograficzna', ariaTitle: 'latitude' },
            { data: 'longitude', title: 'Długość geograficzna', ariaTitle: 'longitude' },
            { data: 'altitude', title: 'Wysokość bezwzględna', ariaTitle: 'altitude' },
            { data: 'batteryVoltage', title: 'Napięcie baterii [V]', ariaTitle: 'batteryVoltage' },
            { data: 'pump', title: 'Pompa', ariaTitle: 'pump' },
            { data: 'pm1', title: 'PM1 [µg/m3]', ariaTitle: 'pm1' },
            { data: 'pm25', title: 'PM2.5 [µg/m3]', ariaTitle: 'pm25' },
            { data: 'pm10', title: 'PM10 [µg/m3]', ariaTitle: 'pm10' },
            { data: 'quantity03', title: 'L. dz. cz. > 0,3 µm/0,1 l', ariaTitle: 'quantity03' },
            { data: 'quantity05', title: 'L. dz. cz. > 0,5 µm/0,1 l', ariaTitle: 'quantity05' },
            { data: 'quantity1', title: 'L. dz. cz. > 1 µm/0,1 l', ariaTitle: 'quantity1' },
            { data: 'quantity25', title: 'L. dz. cz. > 2,5 µm/0,1 l', ariaTitle: 'quantity25' },
            { data: 'quantity5', title: 'L. dz. cz. > 5 µm/0,1 l', ariaTitle: 'quantity5' },
            { data: 'quantity10', title: 'L. dz. cz. > 10 µm/0,1 l', ariaTitle: 'quantity10' },
            { data: 'hcho', title: 'HCHO [mg/m3]', ariaTitle: 'hcho' },
            { data: 'temperature', title: 'Temperatura [℃]', ariaTitle: 'temperature' },
            { data: 'humidity', title: 'Wilgotność [%]', ariaTitle: 'humidity' },
            { data: 'quantityCO2', title: 'L. cz. CO2 [ppm]', ariaTitle: 'quantityCO2' },
            { data: 'quantityTVOC', title: 'L. cz. TVOC [ppb]', ariaTitle: 'quantityTVOC' },
            { data: 'updatedAt', title: 'Zmodyfikowano', ariaTitle: 'updatedAt' },
            { data: 'createdAt', title: 'Utworzono', ariaTitle: 'createdAt' },
          ],
          ...options,
        });

        table.buttons().container().appendTo($('.col-sm-6:eq(0)', table.table().container()));

        $('table tbody').on('click', 'button', function() {
          const data = table.row($(this).parents('tr')).data();
          window.location.href = `/powietrze/measurements/${data.id}/edit`;
        });
      });